asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.4
django-crispy-forms==2.3
django-pygments==0.8
mistune==3.0.2
packaging==24.2
pillow==11.0.0
pip-autoremove==0.10.0
pip-chill==1.0.3
pipdeptree==2.24.0
Pygments==2.18.0
python-dotenv==1.0.1
setuptools==75.6.0
sqlparse==0.5.2
