{% extends 'blog/base.html' %}
{% block title%} {{ post.title }} {% endblock%}
{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'post_new'%}"><i class="fa fa-plus">Add post</i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_draft_list' %}"><i class="fas fa-pencil-ruler fa">view drafts</i></a>
</li>
{% endblock%}
{% block content%}

<h1>New post</h1>
<form method="POST" class="post-form-blog">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">SAVE</button>
</form>

{% endblock %}
