<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wp Blog</title>
</head>
<body>
    <h1><a href="#">WP BLOG</a> </h1>
    {% for post in posts %}
        <div>
             <p>Published: {{ post.published_date}} </p>
           <a href="{% url 'post_detail' pk=post.pk %}">  <h1>{{ post.title}}</h1></a>
            <p> {{ post.text|linebreaksbr}} </p>
        </div>
    {% endfor %}
</body>
</html>