{% extends 'blog/base.html' %}
{% block title%} My Draft Posts {% endblock%}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'post_new'%}"><i class="fa fa-plus">Add post</i></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'post_draft_list' %}"><i class="fas fa-pencil-ruler fa">view drafts</i></a>
</li>
{% endblock%}
    {% block content%}
    {% if posts%}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    <p>Created : {{ post.created_date }}</p>
                    <p> Published : {{ post.published_date }}</p>
                </div>
                <h1> <a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a> </h1>
                <p> {{ post.text | truncatechars:50}} </p>
            </div>
        {% endfor %}
         {% else %}
         no drafts
    {% endif %}
    {% endblock %}