{% extends 'blog/base.html' %}
{% load markdownify %}
{% block title%} My Blog {% endblock%}

{% block nav %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post_new'%}"><i class="fa fa-plus">Add post</i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post_draft_list' %}"><i class="fas fa-pencil-ruler fa">view drafts</i></a>
  </li>
{% endblock%}


{% block content%}

<!-- 1st colum in ROW 2 (BLOCK CONTENTS)-->
<div class="col-xs-12 col-sm-10 col-md-8">
 
 <!--If no posts -->
  {% if not posts %}
  <div class="text-center text-muted my-4">
    <i class="fas fa-sad-tear fa-8x"></i>
    <h1 class="display-4 ">Sorry no posts.</h1>
    <a class="btn btn-outline-secondary" href="{% url 'post_new' %}">Add post</a>
  </div>
  <hr class="my-4">
  {% else %}
  {% for post in posts %}


  <!-- Title -->
<a class="text-decoration-none text-dark" href="{% url 'post_detail' pk=post.pk %}"><h1 class="display-4">{{ post.title }}</h1></a>
  
  



  <!-- Date/Time -->
  <p class="text-muted"> Published: {{ post.published_date }}</p>
  {% if post.edited_date%}
  <p class="text-muted"> Edited: {{ post.edited_date }} </p>
  {% endif%}
  <hr>

  <!-- Preview Image 
  <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
  <hr>
  -->

  <!-- Post body -->
  <p class="lead">{{ post.text |markdown | safe| truncatechars:200| linebreaksbr }}</p>
  

  <!--Comment count op a post -->
  <a class="text-info" href="{% url 'post_detail' pk=post.pk%}">Comments: {{ post.approved_comments.count }}</a>
<hr class="my-4">
  {% endfor %}
  {% endif %}
 
</div>

<div class="col-xs-12 col-sm-6 col-md-4 text-center">
  <i class="fas fa-code"></i>
    <h3>HTML5</h3>
    <P>Build with the latest version of HTML</P>
  </div> 
</div>
{% endblock %}
